  <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
  <div class="topbar"><div id="nav-icon3" class="open">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>Search data for analysis</div>
  <div class="topleft"><h1>Analytics</h1><h3>v1.0</h3></div>
  <div class="left">
  <div class="list active"><p>Dashboard</p></div>
    <div class="bottomleft"><%= image_tag "logo.png", width: '45px', height: '45px' %></div>
  </div>
  <%= progressive_render do %>
  <% sleep 1 %>
  <div class="container parent">
  <div class="datediv"><h3 class="date">Last 28 Days<br>(<%= 28.days.ago.strftime('%B %d, %Y') %> &ndash; <%= Date.today.strftime('%B %d, %Y') %>)</h3></div>
  <div class="container top">
  <div class="sessions block">
  <h2>SESSIONS</h2>
  <h1 class="sessionsh1"><%= @sessions %></h1>
  <% if (@sessions - @prevsessions) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@sessions - @prevsessions) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4 class="prevsessions"><%= (@sessions - @prevsessions).abs %></h4>
    <div id="sessions" style="width: 415px; height: 50px"></div>
    </div>
    <div class="images block">
  <h1><%= @images %></h1>
  <% if (@images - @previmages) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@images - @previmages) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4><%= (@images - @previmages).abs %></h4>
  <h2>IMAGES SHARED</h2>
  </div>
  <div class="stoodle block">
  <h1><%= @stoodle %></h1>
  <% if (@stoodle - @prevstoodle) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@stoodle - @prevstoodle) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4><%= (@stoodle - @prevstoodle).abs %></h4>
  <h2>STOODLE SESSIONS</h2>
  </div>
  </div>
  <div class="second">
    <div class="complete block">
  <h1><%= (@complete * 100).round%>%</h1>
  <% if (@complete - @prevcomplete) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@complete - @prevcomplete) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4><%= ((@complete - @prevcomplete).abs * 100).round %>%</h4>
  <h2>COMPLETED ASSIGNMENT</h2>
  </div>
      <div class="complete block">
  <h1><%= (@master * 100).round %>%</h1>
  <% if (@master - @prevmaster) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@master - @prevmaster) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4><%= ((@master - @prevmaster).abs  * 100).round%>%</h4>
  <h2>PROVED MASTERY</h2>
  </div>
  </div>
  <div class="second right">
  <div class="hours block">
  <h2>HOURS TUTORED</h2>
  <h1><%= @hours %></h1>
  <% if (@hours - @prevhours) > 0 %>
  <span class="icon-up-arrow"></span>
  <% elsif (@hours - @prevhours) < 0 %>
  <span class="icon-down-arrow"></span>
  <% else %>
  <span class="icon-equal-dash"></span>
  <% end %>
  <h4><%= (@hours - @prevhours).abs%></h4>
  <div id="hours" style="width: 770px; height: 190px"></div>
  </div>
  </div>
  <div class="third right">
  <div class="grade">
  <ul class="gradeul">
    <li>Sessions by Grade</li>
    <li><div class="libg bgk"></div><span>Kindergarten</span><%= @k %></li>
    <li><div class="libg bg1"></div><span>1st Grade</span><%= @first %></li>
    <li><div class="libg bg2"></div><span>2nd Grade</span><%= @second %></li>
    <li><div class="libg bg3"></div><span>3rd Grade</span><%= @third %></li>
    <li><div class="libg bg4"></div><span>4th Grade</span><%= @fourth %></li>
    <li><div class="libg bg5"></div><span>5th Grade</span><%= @fifth %></li>
    <li><div class="libg bg6"></div><span>6th Grade</span><%= @sixth %></li>
    <li><div class="libg bg7"></div><span>7th Grade</span><%= @seventh %></li>
    <li><div class="libg bg8"></div><span>8th Grade</span><%= @eigth %></li>
    <li><div class="libg bg9"></div><span>9th Grade</span><%= @ninth %></li>
    <li><div class="libg bg10"></div><span>10th Grade</span><%= @tenth %></li>
    <li><div class="libg bg11"></div><span>11th Grade</span><%= @eleventh %></li>
    <li><div class="libg bg12"></div><span>12th Grade</span><%= @twelvth %></li>
  </ul>
  </div>
  </div>
  </div>
  <% end %>
    <style type="text/css">
      body {
        background: #32353e;
      }
      .block {
        margin-right: 20px;
      }
      .sessions {
        color: white;
        background-color: #3c3e47;
        height: 158px;
        width: 415px;
        display: table-cell;
        vertical-align: bottom;
        position: relative;
      }
      .hours {
        color: white;
        background-color: #3c3e47;
        height: 295px;
        width: 770px;
        display: table-cell;
        vertical-align: bottom;
        position: relative;
      }
      .grade {
        color: white;
        background-color: #3c3e47;
        height: 658px;
        width: 302px;
        position: relative;
        right: 152px;
        padding: 0;
      }
      .gradeul {
        width: 300px;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 656px;
        border: 2px solid #aaa;
      }
      .gradeul > li:first-child {
        font-size: 25px;
        justify-content: flex-start !important;
      }
      .gradeul > li {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 18px;
        opacity: .75;
        border-bottom: 2px solid #aaa;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 15px;
      }
      .gradeul > li > span {
        margin-right: auto;
      }
      .libg {
        justify-content: flex-start;
        position: absolute;
        left: 2px;
        z-index: -1;
        height: 45px;
        width: 200px;
        background-color: #282b33;
      }
      .bgk {
        width: -webkit-calc((<%= @k %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @k %> / <%= @highest %>) * 300px);
        width:         calc((<%= @k %> / <%= @highest %>) * 300px);
      }
      .bg1 {
        width: -webkit-calc((<%= @first %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @first %> / <%= @highest %>) * 300px);
        width:         calc((<%= @first %> / <%= @highest %>) * 300px);
      }
      .bg2 {
        width: -webkit-calc((<%= @second %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @second %> / <%= @highest %>) * 300px);
        width:         calc((<%= @second %> / <%= @highest %>) * 300px);
      }
      .bg3 {
        width: -webkit-calc((<%= @third %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @third %> / <%= @highest %>) * 300px);
        width:         calc((<%= @third %> / <%= @highest %>) * 300px);
      }
      .bg4 {
        width: -webkit-calc((<%= @fourth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @fourth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @fourth %> / <%= @highest %>) * 300px);
      }
      .bg5 {
        width: -webkit-calc((<%= @fifth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @fifth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @fifth %> / <%= @highest %>) * 300px);
      }
      .bg6 {
        width: -webkit-calc((<%= @sixth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @sixth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @sixth %> / <%= @highest %>) * 300px);
      }
      .bg7 {
        width: -webkit-calc((<%= @seventh %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @seventh %> / <%= @highest %>) * 300px);
        width:         calc((<%= @seventh %> / <%= @highest %>) * 300px);
      }
      .bg8 {
        width: -webkit-calc((<%= @eigth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @eigth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @eigth %> / <%= @highest %>) * 300px);
      }
      .bg9 {
        width: -webkit-calc((<%= @ninth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @ninth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @ninth %> / <%= @highest %>) * 300px);
      }
      .bg10 {
        width: -webkit-calc((<%= @tenth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @tenth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @tenth %> / <%= @highest %>) * 300px);
      }
      .bg11 {
        width: -webkit-calc((<%= @eleventh %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @eleventh %> / <%= @highest %>) * 300px);
        width:         calc((<%= @eleventh %> / <%= @highest %>) * 300px);
      }
      .bg12 {
        width: -webkit-calc((<%= @twelvth %> / <%= @highest %>) * 300px);
        width:    -moz-calc((<%= @twelvth %> / <%= @highest %>) * 300px);
        width:         calc((<%= @twelvth %> / <%= @highest %>) * 300px);
      }
      .block > h2 {
        font-weight: 300;
        letter-spacing: 2px;
        position: absolute;
        margin-left: 30px;
        opacity: .75;
        margin-top: 25px;
      }
      .complete > h2 {
        font-weight: 300;
        letter-spacing: 2px;
        position: absolute;
        margin-left: 30px;
        opacity: .75;
        margin-top: 0px;
        line-height: 25px;
      }
      .block > span {
        margin-left: 20px;
        display: inline-block;
        font-size: 5px;
      }
      .block > h1 {
        font-weight: 300;
        margin-left: 30px;
        font-size: 40px;
        margin-top: 60px;
        display: inline-block;
      }
      .complete > h1 {
        font-weight: 300;
        margin-left: 20px;
        font-size: 40px;
        margin-top: 30px;
        display: inline-block;
      }
      .complete > span {
        margin-left: 10px;
      }
      .block > h4 {
        display: inline-block;
        font-size: 15px;
        font-weight: 200;
      }
      .images {
        width: 270px;
        height: 158px;
        background-color: #3c3e47;
        position: relative;
        display: inline-block;
        color: white;
      }
      .stoodle {
        width: 270px;
        height: 158px;
        background-color: #3c3e47;
        position: relative;
        color: white;
        display: inline-block;
        margin-right: 0px;
      }
      .complete {
        width: 205px;
        height: 139px;
        background-color: #3c3e47;
        clear: both;
        position: relative;
        display: block;
        color: white;
        margin-bottom: 20px;
      }
      .images > h2, .stoodle > h2 {
        position: relative !important;
        bottom: 30px;
      }
      .images > span, .stoodle > span {
        margin-left: 50px;
      }
      .topleft {
        color: white;
        width: 200px;
        height: 60px;
        background-color: #65ef96;
        position: fixed;
        top: 0;
        left: 0;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        z-index: 100;
      }
      .topleft > h1 {
        font-weight: 300;
        letter-spacing: 2px;
        margin-left: 20px;
        font-size: 22px;
      }
      .topleft > h3 {
        margin-left: 30px;
        font-size: 10px;
        font-weight: 300;
      }
      .left {
        position: fixed;
        top: 60px;
        left: 0px;
        background-color: #2a2d37;
        width: 200px;
        height: 100%;
        z-index: 3;
      }
      .topbar {
        width: 100%;
        position: fixed;
        left: 200px;
        top: 0px;
        height: 60px;
        color: #6f7780;
        font-family: Lato;
        font-weight: 300;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        background-color: white;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, .1);
        z-index: 3
      }
      .bottomleft {
        background-color: #24262d;
        height: 100px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
      }
      .list {
        margin-top: 20px;
        height: 28px;
        display: flex;
        align-items: center;
        cursor: pointer;

      }
      .list > p {
        font-weight: 300;
        font-size: 15px;
        color: white;
        letter-spacing: 1px;
        margin: 15px !important;
      }
      .active {
        border-left: 4px #45ef96 solid;
      }
      .date {
        color: white;
        text-align: right;
        font-weight: 300;
        color: #949ba2;
        line-height: 20px;
        letter-spacing: 1.5px;
      }
      .datediv {
        width: 995px;
        height: 85px;
        position: absolute;
        top: 30px;
        border-bottom: 1px solid #3c3e47;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
        background-color: #32353e;
      }
      #sessions, #hours {
        margin: 0;
        padding: 0;
      }

      .parent {
        left: 200px;
        position: absolute;
        width: -webkit-calc(100% - 200px);
        width:    -moz-calc(100% - 200px);
        width:         calc(100% - 200px);
      }
      .top {
        top: 140px;
        position: absolute;
      }
      .second {
        top: 318px;
        position: relative;
        left: 150px;
      }
      .third {
        position: relative;
        top: 636px;
      }
      #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 20px;
  height: 17px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 25px;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #6f7780;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
      #nav-icon3 span:nth-child(1) {
  top: 0px;
}


#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}
#nav-icon3.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}
ellipse[stroke-width="6.5"] {
  stroke: transparent;
}
    </style>
        <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function() {
      google.charts.load('current', {
      'callback': function () {
        drawCount();
        drawHours();
        drawSubject();
      },
      'packages': ['corechart'],
    });
    }, 3000);

      function drawCount() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Calls'],
          <% ((28.days.ago - 5.hours).beginning_of_day.to_date..(1.day.ago - 5.hours).to_date).each do |date| %>
          <% unless date.on_weekend? || date.friday? %>
            ['<%= date.strftime('%B %d, %Y') %>',<%= CallLog.where(date: date).size %>],
          <% end %>
          <% end %>
          <% unless Date.today.on_weekend? || Date.today.friday? %>
          ['<%= Date.today.strftime('%B %d, %Y') %>',<%= CallLog.where(date: Date.today).size %>]
          <% end %>
        ]);
        var options = {
          legend: 'none',
          curveType: 'function',
          lineWidth: 2,
          animation:{
        duration: 500,
        easing: 'inAndOut',
        startup: true
      },
          chartArea: {
            height: '100%',
            width: '100%',
          },
          backgroundColor: { fill:'#3c3e47' },
          series: {
            0: {color: '#ffffff'}
          },
          vAxis: {
            gridlines: {
              color: 'transparent'
            },
            baselineColor: 'transparent',
            textPosition: 'none'
          },
          hAxis: { gridlines: {
              color: 'transparent'
            },
            textPosition: 'none' }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('sessions'));

        chart.draw(data, options);
      }

      function drawHours() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Hours'],
          <% ((28.days.ago - 5.hours).beginning_of_day.to_date..(1.day.ago - 5.hours).end_of_day.to_date).each do |date| %>
          ['<%= date.strftime('%B %d, %Y') %>',<%= CallLog.where(date: date).sum(:duration).to_d.round(3) %>],
          <% end %>
          ['<%= Date.today.strftime('%B %d, %Y') %>',<%= CallLog.where(date: Date.today).sum(:duration).to_d.round(3) %>]
        ]);
        var options = {
          legend: 'none',
          curveType: 'function',
          lineWidth: 2,
          animation:{
        duration: 100,
        easing: 'inAndOut',
        startup: true
      },
          chartArea: {
            height: '100%',
            width: '100%',
          },
          backgroundColor: { fill:'#3c3e47' },
          series: {
            0: {color: '#ffffff'}
          },
          vAxis: {
            gridlines: {
              color: 'transparent'
            },
            baselineColor: 'transparent',
            textPosition: 'none'
          },
          hAxis: { gridlines: {
              color: 'transparent'
            },
            textPosition: 'none' }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('hours'));

        chart.draw(data, options);
      }
    });
    function drawSubject() {
        var data = google.visualization.arrayToDataTable([
          ['Subject', '# of Calls'],
          ['Math',     <%= @math %>],
          ['ELA',  <%= @la %>],
          ['Science', <%= @science %>],
          ['Social Studies',      <%= @ss %>],
          ['Other', <%= @other %>]
        ]);
        var options = {
          legend: {textStyle: {color: 'white'}},
          lineWidth: 2,
          pieSliceBorderColor : "transparent",
          pieSliceText: 'none',
          colors: ['#00bdfe', '#eac73e', '#ff8b32', '#e93d50', '#9b7ffe'],
          animation:{
        duration: 100,
        easing: 'inAndOut',
        startup: true
      },
          chartArea: {
            height: '100%',
            width: '100%',
          },
          backgroundColor: { fill:'#3c3e47' },
          pieHole: 0.85,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
      $(document).ready(function(){
  $('#nav-icon3').click(function(){
    $(this).toggleClass('open');
    if($(this).hasClass('open')){
    $('.topbar').animate({
      "left":"200px"
    },300);
  $('.left,.bottomleft,.topleft').animate({
      "left":"0px"
    },300);
  $('.parent').animate({
    "width":"-=200px",
    "left":"200px"
  },300);
}else {
  $('.topbar').animate({
      "left":"0px"
    },300);
  $('.left,.bottomleft').animate({
      "left":"-200px"
    },300);
  $('.parent').animate({
    "width":"100%",
    "left":"0px"
  },300);
}
  });
});
    </script>
  </body>
</html>