<h1>User Timesheets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    <% User.all.order(:role).each do |user| %>
    <% user.time_clocks.where(billed: false).order(:date).each do |time| %>
      <tr>
        <td><%= user.firstname %> <%= user.lastname %></td>
        <td><%= time.date.strftime('%B %e, %Y') %></td>
        <td><%= time.clock_in.strftime('%l:%M %p') %></td>
        <td><%= time.clock_out.strftime('%l:%M %p') %></td>
        <td><%= time.hours %></td>
        <td><%= link_to 'Edit', edit_time_clock_path(time) %></td>
        <td><%= link_to 'Destroy', time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div class="container">
 <%= form_for(@report) do |f| %>
  <%= f.hidden_field :var, :value => -1 %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :billdate, :value => Date.today %>
    <%= f.submit "CONDUCT PAYROLL", class: "submit click" %>
    <% end %>
    </div>
<style type="text/css">
  th, td {
    padding: 20px;
  }
    .submit {
  width: 250px;
  text-align: center;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 15px 0;
  letter-spacing: 2px;
  color: #073045;
  background-color: #fff;
  border: #073045 3px solid;
  text-shadow: none;
  cursor: pointer;
  position: relative;
  transition: all 150ms ease-in-out;
  }
  .submit:hover {
    background-color: #073045;
    color: white;
    font-weight: 500;
  }
</style>