 <% if @search.model == "School" %>
  <%= form_for(@search) do |f| %>
  <div class="container">
  <div class="field">
    <%= f.select :select, options_for_select([["Percent of Economically Disabled Students", "peds"], ["Census", "census"], ["Projected Number of Third Grader Students", "ptgs"], ["Sonic Partner", "sonicpartner"], ["Title 1", "titlei"], ["Appalachain", "appalreg"]]) %>
    <%= f.text_field :search %>
    </div>
    </div>
    <div class="container">
    <%= f.submit "FINISH SEARCH", class: "submit" %>
    </div>
<% end %>
 <% elsif @search.model == "CallLog" %>
  <%= form_for(@search) do |f| %>
  <div class="container">
  <div class="field">
    <%= f.select :select, options_for_select([["Prize Sent", "prize_sent"], ["Prize Given", "prize_given"], ["Language Spoken", "lang"], ["Understand at End", "placehold"], ["Subject", "skills"], ["Textbook Used", "textbool"]]) %>
    <%= f.text_field :search %>
    </div>
    </div>
    <div class="container">
    <%= f.submit "FINISH SEARCH", class: "submit" %>
    </div>
<% end %>
 <% elsif @search.model == "Prize" %>
  <%= form_for(@search) do |f| %>
  <%= f.hidden_field :select, value: "letter" %>
    <div class="container">
    <%= f.submit "GENERATE LETTERS", class: "submit" %>
    </div>
    <style type="text/css">
      .submit {
        width: 220px !important;
      }
    </style>
<% end %>
 <% elsif @search.model == "Student" %>
    <% @schools = School.all %>
  <%= form_for(@search) do |f| %>
  <div class="field">
  <div class="container">
    <%= f.select :select, options_for_select([["Grade", "grade"], ["School", "school_id"]]), {}, { :class => 'select' } %>
    <%= f.select :search, options_for_select(@schools.collect { | school | ["#{school.name}", school.id] }), {:prompt => 'School...'}, { :class => 'schools' }%>
    <%= f.text_field :search, class: "text" %>
    </div>
    </div>
    <div class="container">
    <%= f.submit "FINISH SEARCH", class: "submit" %>
    </div>
<% end %>
    <script type="text/javascript">
      $('.schools').hide();
      var input = $('.select').val();
      $('.select').change(function() {
      var input = $('.select').val();
      if (input == "school_id") {
        $('.schools').show();
        $('.text').remove();
      } else {
        $('.text').show();
        $('.schools').remove(); 
      }
    });
      if (input == "school_id") {
        $('.schools').show();
        $('.text').hide();
      }
    </script>
<% else %>
  <%= form_for(@search) do |f| %>
  <div class="container">
  <div class="field">
    <%= f.select :select, options_for_select([["Employee Role", "role"]]) %>
    <%= f.select :search, options_for_select([["Metro Teacher", 2], ["Hotline Teacher", 1], ["Volunteer", 0]]) %>
    </div>
    </div>
    <div class="container">
    <%= f.submit "FINISH SEARCH", class: "submit" %>
    </div>
<% end %>
<% end %>
