
<% if @search.model == "MnpsReport" || @search.model == "Prize" || @model.exists?("#{@param}": @search.search)%>
  <% if @search.model == "MnpsReport" %>
  <% @results = User.where(role: @search.search) %>
  <% unless @results.nil? %>
  <% if @search.search == "4" %>
  <script type="text/javascript">
  window.open("/", '_blank');
  var url =  window.location.href
    window.open('/mnpssummary.pdf', '_blank');
    if (getLastPart(url) == "pdf") {
      
  }else {
    window.open("/searches/<%= @search.id %>.pdf", '_blank');
    setTimeout(function(){window.close();},1000);
  }
  function getLastPart(url) {
    var parts = url.split(".");
    return (url.lastIndexOf('.') !== url.length - 1 ? parts[parts.length - 1] : parts[parts.length - 2]);
  }
  </script>
  <% end %>
  <% @results.each do |user| %>
  <% @bigreport = user.mnps_reports.last %>
<% @user = user %>
<% @totalhours = 0 %>
<% @user.time_clocks.where.not(billed: false).each do |total| %>
  <% @totalhours += total.hours %>
<% end %>
<div class="parent" style="display: block;">
<% if @user.mnps_teacher? %>
<h3 class="district"><%= @user.district %></h3>
<% end %>
<h3 class="heading">Metro Nashville Extended Contract<br>
Session Accountability Form for Teachers</h3>
<div class="topdiv">
  <p class="name"><strong><%= @user.lastname %>, <%= @user.firstname %></strong></p>
  <p class="men"><strong>Metro Employee #: <u><%= @user.men %></u></strong></p>
</div>
<h4>Hours Worked:<br><br><%= @totalhours %></h4>
<h4>Amount Billed:<br><br><%= @bigreport.hours %></h4>
<h4>Previously Billed:<br><br><%= @totalhours - @bigreport.hours %></h4>
<div class="middleparent">
<table class="maintable" style="width:350px;">
  <tr>
    <th>Date</th>
    <th>Time In</th> 
    <th>Time Out</th>
    <th># of Hours</th>
  </tr>
  <% @user.time_clocks.where.not(clock_out: nil).each do |timesheet| %>
  <tr>
    <td><%= timesheet.date.strftime("%-m/%-d/%y") %></td>
    <td><%= timesheet.clock_in.strftime("%l:%M") %></td>
    <td><%= timesheet.clock_out.strftime("%l:%M") %></td>
    <td><%= timesheet.hours %></td>
  </tr>
  <% end %>
  <% for i in 1..(20 - @user.time_clocks.where.not(clock_out: nil).count) %>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% end %>
</table>
<div class="bottomdiv">
<%= image_tag "gth54bt3kj4j5jk4b3.png", width: "250px" %>
<b style="float: right;"><%= @bigreport.billdate %></b>
</div>
</div>
<table class="prevtable">
  <tr>
    <th style="width: 70px;">Date</th>
    <th style="width: 40px;">Hours</th> 
  </tr>
  <% @user.mnps_reports.where.not(var: -1).each do |report| %>
  <tr>
    <td style="width: 70px;"><%= report.billdate.strftime("%-m/%-d/%y") %></td>
    <td style="width: 40px;"><%= report.hours %></td>
  </tr>
  <% end %>
</table>
</div>
<% end %>
<style>
.middleparent {
  position: relative;
  bottom: 200px;
  margin-bottom: 0;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}
h4 {
  position: relative;
  top: 200px;
}
.maintable{
  position: relative;
    margin-left: -175px;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 0px;
}
.prevtable {
  position: relative;
  left: 80%;
  bottom: 800px;
}
.heading {
  text-align: center;
}
.topdiv {
  width: 550px;
  height: 50px;
  border: 1px solid black;
  position: relative;
  left: 50%;
  margin-left: -275px;
}
.bottomdiv {
  width: 550px;
  height: 80px;
  border: 1px solid black;
  position: relative;
  left: 50%;
  margin-left: -275px;
}
.name {
  position: relative;
  bottom: 20px;
}
.men {
  position: relative;
  bottom: 70px;
  left: 200px;
}
.district {
  border: 1px solid black;
  margin-right: 550px;
  text-align: left;
  margin-top:10px;
}
.page-break { display:block; clear:both; page-break-after:always; }
</style>
<% else %>
<h1>No records match that search!</h1>
<% end %>
  <% elsif @search.model == "School" %>
    <% @results.each do |result| %>
      <% @count = Student.all.where(school_id: result.id).count %>
      <%= link_to "#{result.name} - #{@count} Student#{'s' unless @count <= 1}","/#{@search.model.downcase}s/#{result.id}" %><br>
    <% end %>
  <% elsif @search.model == "Student" %>
    <% @results.each do |result| %>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search through objects">
  <ul id="myUL">
    <% @results.each do |result| %>
      <li><%= link_to "#{result.codename}","/students/#{result.id}/edit" %></li>
  <% end %>
  </ul>
  <style type="text/css">
    input {
      background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat;
    background-size: 30%; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    }
    a {
      color: black !important;
    }
    #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black !important; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

li {
  margin-bottom: 10px;
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
  </style>
  <script>
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
    <% end %>
  <% elsif @search.model == "Prize" %>
    <% @results = CallLog.where(prize_given: true, prize_sent: false) %>
    <% @test = 0 %>
    <% @results.where.not(teacher_name: nil, name: nil).each do |result| %>
    <% @school = School.find_by_id((result.student).school_id) %>
      <div class="student">
      <%= image_tag 'hh.png', width: "400px", style: "margin-left: -200px; position: relative; left: 50%" %>
      <p><%= Date.today.strftime('%B %e, %Y') %><br><%= @school.name %><br><%= @school.address %></p>
      <p><%= result.name %> and Parent or Guardian,</p>
      <p>Dear <%= result.name %>,</p>
      <p>Congratulations! You worked very hard during your tutoring session with Homework Hotline! Enjoy your prize.</p>
      <b>Tell your friends to call Homework Hotline for free tutoring and  <u>YOU</u> will recieve an additional prize!</b><br><br>
      <b><u>Here's how:</u></b>
      <ol>
        <li>Tell your friends to call <b>615-298-6636</b> for tutoring. They must be first time callers.</li>
        <li>Have them say: "<%= result.codename %> told me to call for help!"</li>
        <li>The <u>next  time  you call for tutoring</u> YOU will an additional prize. just tell us your friends called!</li>
      </ol>
      <p>Keep working hard! We are here to help.</p>
      <p>Sincerely yours,</p>
      <h2 style="font-family: cursive;">Homework Hotline</h2>
      </div>
      <div class="page-break"></div>
      <div class="teacher">
        <%= image_tag 'hh.png', width: "400px", style: "margin-left: -200px; position: relative; left: 50%" %>
      <p><%= Date.today.strftime('%B %e, %Y') %></p>
      <p>Dear <%= result.teacher_name %>,</p>
      <p>Your student, <%= result.name %>, has asked a good question and won a prize. Enclosed please find a <%= result.prize_type %> from Homework Hotline. Please pass it on with our congratulations.</p>
      <p>We know that only motivated students from the most inspiring teachers call the Hotline. Thanks to you both.</p>
      <p>Sincerely yours,</p>
      <h2 style="font-family: cursive;">Homework Hotline</h2>
      <% @test += 1 %>
      <% unless (@test + 1) > @results.count %>
      <div class="page-break"></div>
      <% end %>
      </div>
      <% #result.prize_sent = 1 %>
      <% #result.save! %>
    <% end %>
    <style type="text/css">
      .page-break { display:block; clear:both; page-break-after:always; }
      p, ol {
        font-size: 15px;
      }
    </style>
  <% elsif @search.model == "CallLog" %>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search through objects">
  <ul id="myUL">
    <% @results.each do |result| %>
      <li><%= link_to "#{result.codename} - #{result.entered_by}","/call_logs/#{result.id}/edit" %></li>
  <% end %>
  </ul>
  <style type="text/css">
    input {
      background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat;
    background-size: 30%; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    }
    a {
      color: black !important;
    }
    #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black !important; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

li {
  margin-bottom: 10px;
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
  </style>
  <script>
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
  <% else %>
    <% @results.each do |result| %>
      <%= link_to "#{result.schoolsystem}","/#{@search.model.downcase}s/#{result.id}" %><br>
    <% end %>
  <% end %>
<% else %>
	<h1>No records match that search!</h1>
<% end %>