<% if @search.model == "MnpsReport" || @search.model == "Prize" || @model.exists?("#{@param}": @search.search)%>
  <% if @search.model == "MnpsReport" %>
  <% elsif @search.model == "School" %>
    <% @results.each do |result| %>
      <% @count = Student.all.where(school_id: result.id).count %>
      <%= link_to "#{result.name} - #{@count} Student#{'s' unless @count <= 1}","/#{@search.model.downcase}s/#{result.id}" %><br>
    <% end %>
  <% elsif @search.model == "Student" %>
    <% @results.each do |result| %>
      <%= link_to "#{result.codename}","/#{@search.model.downcase}s/#{result.id}" %><br>
    <% end %>
  <% elsif @search.model == "Prize" %>
    <% @results = CallLog.where(prize_given: true, prize_sent: false) %>
    <% @test = 0 %>
    <% @results.each do |result| %>
      <div class="student">
      <%= image_tag 'hh.png', width: "400px", style: "margin-left: -200px; position: relative; left: 50%" %>
      <p><%= Date.today.strftime('%B %e, %Y') %></p>
      <p><%= result.name %> and Parent or Guardian,</p>
      <p>Dear <%= result.name %>,</p>
      <p>Congratulations! You worked very hard during your tutoring session with Homework Hotline! Enjoy your prize.</p>
      <b>Tell your friends to call Homework Hotline for free tutoring and  <u>YOU</u> will recieve an additional prize!</b><br><br>
      <b><u>Here's how:</u></b>
      <ol>
        <li>Tell your friends to call <b>615-298-6636</b> for tutoring. They must be first time callers.</li>
        <li>Have them say: "<%= result.codename %> told me to call for help!"</li>
        <li>The <u>next  time  you call for tutoring</u> YOU will an additional prize. just tell us your friends called!</li>
      </ol>
      <p>Keep working hard! We are here to help.</p>
      <p>Sincerely yours,</p>
      <h2 style="font-family: cursive;">Homework Hotline</h2>
      </div>
      <div class="page-break"></div>
      <div class="teacher">
        <%= image_tag 'hh.png', width: "400px", style: "margin-left: -200px; position: relative; left: 50%" %>
      <p><%= Date.today.strftime('%B %e, %Y') %></p>
      <p>Dear <%= result.teacher_name %>,</p>
      <p>Your student, <%= result.name %>, has asked a good question and won a prize. Enclosed please find a <%= result.prize_type %> from Homework Hotline. Please pass it on with our congratulations.</p>
      <p>We know that only motivated students from the most inspiring teachers call the Hotline. Thanks to you both.</p>
      <p>Sincerely yours,</p>
      <h2 style="font-family: cursive;">Homework Hotline</h2>
      <% @test += 1 %>
      <% unless (@test + 1) > @results.count %>
      <div class="page-break"></div>
      <% end %>
      </div>
      <% result.prize_sent = 1 %>
      <% result.save! %>
    <% end %>
    <style type="text/css">
      .page-break { display:block; clear:both; page-break-after:always; }
      p, ol {
        font-size: 15px;
      }
    </style>
  <% elsif @search.model == "CallLog" %>
    <% @results.each do |result| %>
      <%= link_to "#{result.codename}","/#{@search.model.downcase}s/#{result.id}" %><br>
  <% end %>
  <% else %>
    <% @results.each do |result| %>
      <%= link_to "#{result.schoolsystem}","/#{@search.model.downcase}s/#{result.id}" %><br>
    <% end %>
  <% end %>
<% else %>
	<h1>No records match that search!</h1>
<% end %>